<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA3OpN_OOVwt9fmDXaWzPFkvyJEsGzC4gA</string>
	<key>GCM_SENDER_ID</key>
	<string>509509853154</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myChatApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>prochat-be8e7</string>
	<key>STORAGE_BUCKET</key>
	<string>prochat-be8e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:509509853154:ios:d2338df52f5af71f8ee3bb</string>
</dict>
</plist>